header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-edit {
  cursor: pointer;
  align-self: flex-end;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
  color: white;
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 20px;
  gap: 10px;
}
.info-username {
  width: 50%;
  font-weight: 700;
}

.info-avatar {
  width: 85px;
  height: 85px;
  object-fit: cover;
  overflow: hidden;
}
